@import "./App.scss";

// Header
.header {
    width: 100%;
    background: $lightergrey;
    margin-top: 1rem;

    .header-cont {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
    }
}

// My Cart
.btnCart-cont {
    border: 1px solid $lightergrey;
    position: relative;

    &.active {
        border: 1px solid $grey;
    }

    .btn-myCart {
        border: none;
        background: none;
        color: $grey;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
    }

    .icon-myCart {
        margin-right: 0.25rem;
        font-size: 1rem;
    }
}