/* Default */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  ::before {
    @extend *;
  }
  ::after {
    @extend *;
  }
}
.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
img {
  max-width: 100%;
  display: block;
}
ul,
ol {
  list-style: none;
}
